extends layouts/main-layout.pug

block content    
    if !profileUser
      h1 User not found
    else
      script.
        const profileUserId='!{profileUser._id}';
        const selectedTab='!{selectedTab}';
      .tabsContainer
        +createTab("Following",`/profile/${profileUser.userName}/following`,selectedTab!='followers')
        +createTab("Followers",`/profile/${profileUser.userName}/followers`,selectedTab=='followers')

      .resultsContainer  

block scripts 
    script(src="/js/followersAndFollowing.js")     