extends layouts/login-layout.pug

block content
  .loginContainer 
    p.errorMessage #{errorMessage}
    h1 Login 
    form(method="POST")
      //- input(type="text", name="logUsername", placeholder="username or email", value=logUsername, required="")
      //- input(type="password", name="logPassword", placeholder="password", required="")

      input(type="text", name="logUsername", placeholder="username or email", value="shubhamjr", required="")
      input(type="password", name="logPassword", placeholder="password", required="" value="111")

      input(type="submit", value="Login")
    a(href="/register") Need an account?? Register Here!!   